.mainTrad {
    display: flex;
    flex-direction: row;
  }
  .imgContTrad{
      background-image: url('../../../assets/pizza_td.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 50%;
      height: 100vh;
  }
  
  .menuList{
      display: flex;
      flex-wrap: wrap;
      // flex-direction: column;
      justify-content: space-around;
      width: 50%;
      height: 50vh;
      padding: 5rem;
      gap: 2rem;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  h1{
      font-size: 1.25rem;
      // line-height: 1.75;
      font-weight: 700;}