@use "../../style/variable.scss" as global;
@use "../../style/responsiveLayout.scss" as size;


.mainEvent{
    // background-color: gold;
    width: 100%;
    min-height: 100vh;
    padding-top:5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-size: x-large;
    font-weight: 800;
    z-index: 20;
    .titleEvent{
      display: flex;
      justify-content: center;
      align-items: center;
    margin: 5rem;
    font-size: 3rem;
    font-weight: 900;
    width: 100%;
    z-index: 20;

      @include size.min-md{
      width: 60%;
    }
  }
  .detCont{
    width: 100%;  
    display: flex;
    justify-content:space-around;
    align-items: center;
    z-index: 20;

    @include size.min-md{
      width: 50%;
    }

  }
  .placeEvent , .dataEvent , .descEvent {
    margin: 2rem;
    z-index: 20;

  }
  .imageEvent{
    background-color: red;
    width: 100%;
    height: auto;
    z-index: 20;

    @include size.min-md{
      width: 60%;
    }
  }
  .descEvent{
    display: flex;
    justify-content: center;
    align-items: center;
        width: 90%;
    font-size: x-large;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 20;

    @include size.min-md{
      width: 50%;
    }
  }

  .circle-cont{
    width: 100%;
    // min-height: 10rem;
  }
  .circle{
        background-color: global.$redOne;  
        border-radius: 100%;
        position: fixed;
        // z-index: 0;
        top: 0rem;
        left: 15%;
        width: 35rem;
        height: 35rem;
       
        @include size.min-sm{
        
        }@include size.min-md{
          left: 40%;
          width: 90rem;
          height: 90rem;
        
        }@include size.min-lg{
          left: 40%;
          width: 90rem;
          height: 90rem;
        }
        @include size.min-xl{
        
        }
  } 
}


