
.mainAbout{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    // padding-top:6rem;
    // justify-content: start;
    // align-items: start;
    // width: 100%;
    // height: 100vh;
    // background-image: url('../../assets/main.png');
    // background-repeat: no-repeat;
    // background-position: center;
}
.header{
    background-color: aquamarine;
    width: 100%;
    height: 20rem;
    margin-top: 5rem;
    display: flex;
    justify-content: end;
    align-items: center;    
}
.body{
    background-color: aquamarine;
    width: 100%;
    height: 20rem;
    margin-top: 5rem;
    display: flex;
    justify-content: start;
    align-items: center;    
}
.image{
width: 18rem;
height: 18rem;
background-color: red;
margin-right: 3rem;
border-radius: 10px;

}
.description{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.25rem;
    backdrop-filter: blur(16px);
    width: 50%;
    height: 100vh;
    padding: 1rem;
}
h1{
    font-size: 1.5rem;
}