@use '../../style//responsiveLayout.scss' as res;
@use '../../style//variable.scss' as global;

*{
 padding: 0px;
 margin: 0px;
}
h1{
    max-width: 90%;
    // background-color: aqua;
    padding: .5rem;
    margin-left: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 2.9rem;
    z-index: 20;
    color: #ffa600;
}
.mainAbout{
    // background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1424px;
    width: 100%;
    // height: 100vh;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 40px;

   .sections, .mid-sections{
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: aquamarine;
    padding: 1rem;    
}
.text{
    width: 90%;
    margin: .5rem;
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.imageAbout{
    object-fit: cover;
    width: 22rem;
    height: auto;
}
.socialCont{
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    margin: 1rem;
    gap: 1rem;
    z-index: 20;
    // box-shadow:  3px 3px 1px black,
    // 6px 6px 1px black,
    // 10px 10px 1px black,;

}

.Social{
    display: flex;
    justify-content: space-between;
    font-size: xx-large;
    gap:1rem;
    color: black;
    width: 80%;
 
}
.Contact{
    margin-left: 1rem;
    margin: 1rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    padding-top: 1rem;
    border-top: 2px solid black;
    z-index: 100;
}

.WA{
  color: green;
  filter: drop-shadow(10px 5px 5px #55804c);  

}
.FB{
  color: blue;
  filter: drop-shadow(10px 5px 5px #4c5480);  

}
.IG{
  color:rgb(233, 55, 114);
  filter: drop-shadow(10px 5px 5px #804c4c);  
}

.circleAB{
  background-color: global.$redOne;  
  border-radius: 100%;
  position: fixed;
  // z-index: 10;
  top: -5rem;
  left: 15%;
  width: 34rem;
  height: 34rem;
  @include res.min-sm{
  
  }@include res.min-md{
    left: 40%;
    width: 90rem;
    height: 90rem;
  
  }@include res.min-lg{
    left: 40%;
    width: 90rem;
    height: 90rem;
  }
  @include res.min-xl{
  
  }
}   
.img2{
  border-radius: 20rem;
 }

@include res.min-md{
    h1{
        padding: 1rem;
        font-size: 4.5rem;
        width: 70%;
        // background-color: blueviolet;
    }
    .imageAbout{
      width: 35rem;
      height: auto;
  }
  .img2{
    height: 33rem;
    width: 33rem;
  }
  .text{
    width: 50%;
    font-size: 1.5rem;
  }

  .mid-sections, .sections{
    // background-color: aqua;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    }
  .mid-sections{
    justify-content: space-around;
    flex-direction: column;
    }
  .mainAbout{
    max-width: 90%;
  }

//   .socialCont{
//     width: 12rem;
//     height: 12rem;
// }
.Social{
    font-size: 2.5rem;
}

.Contact{
  width: 80%;
}
  } 
}
