    
  @use "./style/variable.scss" as global;
    *{
      padding: 0px;
      margin: 0px;
    }

body{
    background-color: global.$global-bg;
}

ul{
    list-style-type:none;
    margin: 0px;
    padding: 0px;
    
}

a {
    text-decoration: none;
}   
.pulse{
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  
  @keyframes pulse {
    0%, 100% {
      opacity: 1;
      color: global.$basil;
    }
    50% {
      opacity: 1;
      color: white;
    }
}
}


.bouncex {
  animation: bouncex 3s infinite;

@keyframes bouncex {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-15px); }
        100% { transform: translateY(0); }
    }
}