    
  @use "./style/variable.scss" as global;
    *{
      padding: 0px;
      margin: 0px;
    }

body{
    background-color: global.$global-bg;
}

ul{
    list-style-type:none;
    margin: 0px;
    padding: 0px;
    
}

a {
    text-decoration: none;
}   
