@use "../style/variable.scss" as i;
@use "../style/responsiveLayout.scss" as res;

.navbarCont {
    width: 100%;
    height: 5rem;
    background-color: i.$redOne;
    // backdrop-filter: blur(1px);
    color: white;
    display: flex;
    align-items: center;
    font-weight: 700;
    position: fixed;
    z-index: 100;
   }
.mobileopened{
    width: 100%;
    height: 100%;
    // background-color: rgb(148 163 184);
    backdrop-filter: blur(5px);
    background-color: i.$slate400;
    background-image: url(../assets/pizzaBG.webp);
    background-size: cover;
    background-blend-mode: soft-light;
    color: white;
    text-shadow: 2px 2px 1px black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-weight: 700;
    position: fixed;
    z-index: 100;
  
}
.transition{
    transition:all ; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}
.sec{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
    backdrop-filter: blur(5px);
}
.title{
    // background-color: green;
    display: flex;
    justify-content: start;
    align-items: center;
    flex: 30%;
    height: 4.5rem;
    font-size:2rem;
    padding-left: .5rem;
    font-style: italic;
    @include res.min-sm{
       
    }
}
.logo{
 margin-left: 0.5rem;
}

.navLink{
    // background-color: red;
    display: flex;
    flex: 70%;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding-right: 1rem;  
    @include res.max-sm{
        display: none;
    }  
   }

 .mobileLink{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    gap: 4rem;
    align-items: start;
    height: 100%;
    width: 100%;
 }
 
.menuMobile{
    height: 4.5rem;
    width: 2.5rem;
    justify-content: center;
    align-items: center;
    z-index: 100;

    @include res.min-md{
        display: none;
    }
}
.nav-mobile:hover{
    color: white;
}

.links{
   color: white;
   text-shadow: none;
   font-size: x-large;
   display: flex;
   justify-content:  start;
   align-items: center;

   @include res.max-sm{
    text-shadow: 3px 2px 1px black;
     height: 3rem;
     width: 100%;
     font-size: 2.9rem;
   }
}

li{
    border: 1rem;
    padding-left:1rem ; 
    @include res.max-sm{
       height: 3rem;
        width: 100%;  
        
    }
 }

li:hover {
  color: rgb(235, 185, 78);  
}
.rotate{
    rotate: -90deg;
}
.notifyMenuClosed{
    position: absolute;
    top: 6px;
    margin-left: -20px ;
    width: 35px;
    height: 20px;
    background-color: rgb(247, 88, 88);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: smaller;
    font-weight: 500;
    padding: 2px;
    z-index: -10;
    @include res.min-md{
        display: none;
    }

}

.notify{
    position: absolute;
    width: 35px;
    height: 20px;
    // background-color: i.$new;
    background-color: rgb(247, 88, 88);

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: small;
    font-weight: 500;
    padding: 1px;

    
    z-index: -100;
    width: 35px;
    height: 20px;
    margin-left:75px ;
    margin-top: -1rem;

    @include res.max-sm{
    // background-color: i.$new;
    background-color: rgb(247, 88, 88);
    margin-top: -4.5rem;
    margin-left: 140px; 
    }
  }

