$screen-min-sm : 320x;
$screen-max-sm : 480px;

$screen-min-md : 481px;
$screen-max-md : 768px;

$screen-min-lg : 769px;
$screen-max-lg : 1024px;

$screen-min-xl : 1025px;
$screen-max-xl : 1200px;


@mixin min-sm{
 @media (min-width:$screen-min-sm) {
    @content
 }
};
@mixin max-sm{
 @media (max-width:$screen-max-sm) {
    @content
 }
};
@mixin min-md{
 @media (min-width:$screen-min-md) {
    @content
 }
};
@mixin max-md{
 @media (max-width:$screen-max-md) {
    @content
 }
};
@mixin min-lg{
 @media (min-width:$screen-min-lg) {
    @content
 }
};
@mixin max-lg{
 @media (max-width:$screen-max-lg) {
    @content
 }
};
@mixin min-xl{
 @media (min-width:$screen-min-xl) {
    @content
 }
};
@mixin max-xl{
 @media (max-width:$screen-max-xl) {
    @content
 }
};