  // $global-bg : #4a4a4a;
  $global-bg : #f8f7f7;
  $redOne : #c03131;
  $redTwo : #963131;
  $special : #fdc1be85;
  $new : #f30909e5;
  $basil : #00af58;
  $zinc900 :rgb(24 24 27);
  $zinc500 :rgb(100, 100, 116);
  $slate : rgba(215, 247, 231, 0.438);
  $slate300 : rgb(236, 255, 246);
  $slate400 : rgba(138, 148, 144, 0.664);
  $emerald : rgb(52 211 153);
  $green-tomato: #24662A;