@use '../../style//responsiveLayout.scss' as size;

*{
    padding: 0px;
    margin: 0px;
}
.containGal{
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    // background-color: rgb(235, 185, 78);

}
.containerLogoGallery{
  width: 100%;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @include size.min-md{
    background-color: rgb(235, 185, 78);
  }
}    

.galleryHeadImage{
  width: 110%;
  height: auto;
  margin: 1rem;
  @include size.min-md{
    width: 80%;
  }
}

.gallery {
    display: flex;
     padding-top: 4rem;
     justify-content: center;
     gap: .8rem;
  }

  .colGal{
    display: flex;
    flex-direction: column;
    gap: .8rem;
  }
.imageGal {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}


  @include size.max-sm{
  
    .gallery{
        flex-direction: column;
    }
  }